html {
  font-family: 'Poppins', sans-serif;
  text-transform: lowercase;
}

#card {
  #photo-container {
    max-height: 30%;
    // overflow: hidden;
    #photo {
      position: relative;
      // top: 50%;
      transform: translate(0,-50%);
    }
  }
}


#pano {
  /* float: left; */
  height: 100%;
  width: 100%;
  z-index: -1000000;
  filter: blur(.5rem);
}
.gm-style-cc {
  display: none;
}

.loading-bg {
  background: linear-gradient( to bottom right, #07A154, #0786A1);
}

#wordmark {
  height: 100%;
  margin: auto;
}

#view-cards:first-child {
  padding: 0 5px;
}
