html {
  font-family: "Poppins", sans-serif;
  text-transform: lowercase;
}

#photo-container {
  max-height: 30vh;
  overflow: hidden;
}

#photo {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

#pano {
  /* float: left; */
  height: 100%;
  width: 100%;
  z-index: -1000000;
  filter: blur(0.5rem);
}

.gm-style-cc {
  display: none;
}